{% block participants_delete %}
    <form action="{{ path('participants_delete', {'id': participant.id}) }}">
        <input type="hidden" name="id" value="{{ participant.id }}"/>
        <ul>
            <li>Do you really want to delete this participant?</li>
            {% include 'participants/fields_readonly.html.twig' %}
            <li><input type="submit" value="Delete"/>&nbsp;<button onclick="history.back()">Cancel</button></li>
        </ul>
    </form>
{% endblock %}
