{% block participants_fields_readonly %}
    <li>First name:<input value="{{ participant.firstname }}" readonly></li>
    <li>Last name:<input value="{{ participant.lastname }}" readonly></li>
    <li>eMail:<input value="{{ participant.email }}" readonly></li>
    <li>Unit:<input value="{{ participant.unit }}" readonly></li>
    <li>Password:<input value="abcdef" type="password" readonly></li>
{% endblock %}
